node_modules
dist
dist-ssr
.git
.gitignore
.env
.env.*
*.local
.vite
.idea
.vscode
.DS_Store
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.map
Dockerfile.dev
docker-compose*.yml
cloudbuild.yaml
.gcloudignore
